<div class='c-subscribe'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center'>

      <h5>Participe da Newsletter para receber as últimas atualizações na sua caixa de entrada.</h5>

      <form method='post'
            target='_blank'
            class='c-subscribe-form'
            action='//medium.us16.list-manage.com/subscribe/post?u=a3d26b103f57b5a8c7a59cd62&amp;id=8b184e9cfb'>
        <div class='form-group'>
          <label for='post-widget-subscribe-email' class='u-hidden-visually'>Newsletter Email</label>
          <input id='post-widget-subscribe-email' type='email' name='EMAIL' class='c-subscribe-form__input' placeholder='Email'>
        </div>
        <input type='submit' class='c-subscribe-form__btn c-btn c-btn--full' value='Assinar'>
      </form>

    </div>
  </div>
</div>

<hr>
